.options {

    position: absolute;
    height: 100px;
    width: 65px;
    top: 0;
    padding: 4px;
    border: 1px solid goldenrod;
    background-color: peachpuff;


}

.optionElement:hover {
    background-color: goldenrod;
}

.selectContainer {
    position: relative;
    height: 100px;
    width: 65px;

}